body {
    background-color: black;
}
.parent-container {
    display: block;
    margin: auto;
    width: 21em;
    height: 29em;
    background-color: black;
    border-radius: 1em;
    margin-top: 4em;
    background-color: #fdf7f7;
    box-shadow: 0 20px 50px rgb(185, 174, 174);
   
    
}

button {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: none;
    background-color:  rgb(255, 255, 255);
    box-shadow: 0 5px 20px rgb(231, 196, 196);
    color: rgb(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.mode-container {
    padding: 1em;
}
.mode-container button {
    width: 1em;
    height: 1em;
}

.output-field {
    width: 90%;
    display: block;
    margin: auto;
    height: 2.5em;
    margin-bottom: 1em;
    border-width: 0.2em;
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    resize: none;
    text-align: right;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: bold;
    padding-right: 0.4em;
}

.cal-btn {
    margin: 1.5em 0 0 1em;
}

.last-col-btn {
    margin-left: 3em;
}

.operation {
    background-color: rgb(231, 114, 114);
    color: rgb(0, 0, 0);
 
}

.clear-btn, .equal {
    background-color: rgb(78, 2, 2);
    color: white;
}


.light-mode {
    background-color: #ddd4d4;
}

.dark-mode {
    background-color: rgb(63, 61, 61);
}

.green-mode {
    background-color: rgb(13, 187, 13);
}


button:focus {
    outline: none;
    
}

button:hover {
    box-shadow: 0 5px 20px rgb(228, 58, 58); 
}

textarea:focus {
    outline: none;
  
}

.signature {
    color: #ffffff66;
    position: absolute;
    bottom: 2%;
    right: 3%;
    text-align: center;
    font-family: 'Poppins';
  
}

@media (max-width: 700px) {
    .parent-container {
        width: 80%;
        height: 26em;
    }
    .output-field {
        width: 90%;
        height: 2.5em;
    }

    button {
        width: 3em;
        height: 3em;
    }
    
    .signature {
        font-size: 0.6em;
        
    }
}



